<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>

  <!-- SEO -->
  <meta name="description" content="Streaming drama pendek vertikal seperti Netflix" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">

  <!-- Remixicon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

  <!-- Custom -->
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Anti Screen Record (Soft) -->
  <style>
    video::-webkit-media-controls {
      display:none !important;
    }
  </style>
</head>
<body class="bg-black text-white font-[Inter]">

  <%- body %>

  <!-- Adsterra -->
  <script src="https://pl28176697.effectivegatecpm.com/c0/22/d6/c022d663631c0494ad0cd27406beebff.js"></script>

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>AOS.init();</script>

  <script src="/js/app.js"></script>
</body>
</html>
