<link rel="stylesheet" href="/css/player.css">

<div id="player-wrapper">
  <video id="video" playsinline></video>

  <div id="overlay">
    <span id="episode-info">Episode</span>
    <div id="center-btn"><i id="playIcon" class="ri-pause-fill"></i></div>
    <div id="progress"><div id="progress-bar"></div></div>
  </div>

  <div id="watermark">DramaFlix</div>

  <div id="ads-slot" style="display:none">
    <script src="https://pl28176697.effectivegatecpm.com/c0/22/d6/c022d663631c0494ad0cd27406beebff.js"></script>
  </div>
</div>

<script>const ID = "<%= id %>"</script>
<script src="/js/player.js"></script>
