<div class="animate-pulse grid grid-cols-3 md:grid-cols-4 gap-3">
  <% for(let i=0; i<6; i++) { %>
  <div class="flex flex-col gap-2">
    <div class="aspect-[2/3] bg-gray-200 dark:bg-gray-800 rounded"></div>
    <div class="h-3 bg-gray-200 dark:bg-gray-800 rounded w-3/4"></div>
  </div>
  <% } %>
</div>
